* {
  box-sizing: border-box; 
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e6e6fa;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.box {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #8A2BE2;
  padding: 3px;
  gap: 1px;  
}
.box div {
  background-color: #f1f1f1;
  color: #000;
  padding: 3px;

}
.product-description {
  margin-bottom: 5px;
  grid-column: 1 / span 4;
  grid-row: 2;
  font-size: 12px;
  width: 100%;
}
.pricing {
  margin-bottom: 5px;
  grid-column: 4;
  grid-row: 1;

}
.pricing p {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color:#8A2BE2;
}

.calendly {
  grid-column: 1;
  grid-row: 3 / span 4;
  padding-bottom: 5px;
  padding-left: 0%;
  align-items: center;
}

.product-name {
  grid-column: 1 / span 2;
  grid-row: 1;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
.flexbox {
  display: flex;
  background-color: #8A2BE2;
  flex-direction: column;
  padding: 3px;
}

.flexbox div {
  background-color: #f1f1f1;
  margin: 3px;
  padding: 3px;
  font-size: 12px;
}

.header {
  background-color: none;
  padding: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #8A2BE2;
  border: 3px solid #fff8dc;
}



.button-22 {
  align-items: center;
  appearance: button;
  background-color: #e6e6fa;
  border-radius: 8px;
  border-color: #32cd32;
  border-width: 3px;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  width:200px;
  color: #32cd32;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-22:active {
  background-color: #8A2BE2;
}

.button-22:hover {
  background-color: #8A2BE2;
  border-color: #fff8dc;
  border-width: 3px;
  color: #fff8dc;
}

@media(min-width: 900px){
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */

.box {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5px;
  gap: 5px;  
}
.box div {
  background-color: #f1f1f1;

  padding: 5px;
  font-size: 30px;

}
.product-description {
  margin-bottom: 5px;
  grid-column: 1 / span 4;
  grid-row: 2;
  width: 1000px;
}
.pricing {
  margin-bottom: 5px;
  grid-column: 4;
  grid-row: 1;

}
.pricing p {
  font-size: 24px;
  font-weight: bold;
  text-align: right;
}

.calendly {
  grid-column: 4;
  grid-row: 3;
  padding-bottom: 5px;
  padding-left: 0%;
}

.product-name {
  grid-column: 2 / span 2;
  grid-row: 1;
  font-size: 36px;
  font-weight: bold;
}
.flexbox {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.flexbox div {
  margin: 5px;
  padding: 5px;
  font-size: 24px;
}

.header {
  padding: 10px;
  font-size: 24px;
}

}
