* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e6e6fa;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff8dc;
  overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
  color: #000;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #e6e6fa;
  color: #8A2BE2;
}

/* Style the content */
.content {
  margin-left: 200px;
  padding-left: 20px;
  
}

.box {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #8A2BE2;
  padding: 5px;
  gap: 5px;  
}
.box div {
  background-color: #f1f1f1;
  color: #000;
  padding: 5px;
  font-size: 30px;

}
.product-description {
  margin-bottom: 5px;
  grid-column: 1 / span 4;
  grid-row: 2;
}
.pricing {
  margin-bottom: 5px;
  grid-column: 4;
  grid-row: 1;

}
.pricing p {
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  color:#8A2BE2;
}

.calendly {
  grid-column: 4;
  grid-row: 3;
}

.product-name {
  grid-column: 2 / span 2;
  grid-row: 1;
  font-size: 36px;
  font-weight: bold;
}
.flexbox {
  display: flex;
  background-color: #8A2BE2;
  flex-direction: column;
  padding: 5px;
}

.flexbox div {
  background-color: #f1f1f1;
  margin: 5px;
  padding: 5px;
  font-size: 24px;
}

.header {
  background-color: none;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #8A2BE2;
  border: 3px solid #fff8dc;
}



.button-22 {
  align-items: center;
  appearance: button;
  background-color: #e6e6fa;
  border-radius: 8px;
  border-color: #32cd32;
  border-width: 3px;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #32cd32;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-22:active {
  background-color: #8A2BE2;
}

.button-22:hover {
  background-color: #8A2BE2;
  border-color: #fff8dc;
  border-width: 3px;
  color: #fff8dc;
}